#root {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.hero {
    background-position: center;
    background-size: cover;
    width: 100%;
    min-height: 90vh;
}

.faded-light {
    background-color: #f8f9fad9;
}

.bring-to-front {
    z-index: 99;
}